<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/CSS/estilo3.css">
</head>

<body>

    <header>
        <div class="menu container">
            <a href="#" class="logo">UPTC</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="assets/images/menu.png" alt="" class="menu-icono">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="rolesadmin.html">Usuarios</a></li>
                    <li><a href="administrarRoles.html">Administrar</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">

            <div class="content">
                <h1>Bienvenido, señor usuario</h1>
                <p>
                    Los sistemas distribuidos son la base de muchas de las tecnologías que utilizamos a diario. Desde
                    servicios en la nube hasta bases de datos escalables, estos sistemas permiten la ejecución de
                    procesos en múltiples nodos interconectados, garantizando mayor disponibilidad, rendimiento y
                    tolerancia a fallos.
                </p>
                <a href="#" class="btn-1">Más información</a>
            </div>

            <img src="assets/images/img2.jpg" alt="">

        </div>

    </header>

    <main class="services container">
        <div class="service">

            <img src="assets/images/ser1.png" alt="">
            <h3>Recomendación</h3>
            <p>
                Los algoritmos de recomendación analizan tu comportamiento en línea para ofrecerte contenido
                personalizado. Desde plataformas de streaming hasta redes sociales, estos sistemas aprenden de tus
                interacciones para mostrarte lo que consideran más relevante para ti.
            </p>

        </div>

        <div class="service">

            <img src="assets/images/ser2.png" alt="">
            <h3>Seguridad</h3>
            <p>
                La seguridad digital es cada vez más importante, y muchos usuarios han comenzado a implementar la
                autenticación en dos pasos para proteger sus cuentas en línea. Esta medida añade una capa extra de
                seguridad, reduciendo el riesgo de accesos no autorizados.
            </p>

        </div>

        <div class="service">

            <img src="assets/images/ser4.jpg" alt="">
            <h3>Correo</h3>
            <p>
                El primer correo electrónico de la historia fue enviado en 1971 por Ray Tomlinson. Lo más curioso es que
                el mensaje exacto se ha perdido en el tiempo, pero se cree que solo contenía una serie de letras
                aleatorias, sin ningún significado en particular.
            </p>

        </div>

    </main>

    

    <footer>

        <div class="container">

            <div class="enlaces">

                <h3>UPTC</h3>
                <div class="enlace">
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Información</a></li>
                </div>

            </div>

        </div>

    </footer>

</body>

</html>
