@{
    ViewData["Title"] = "AccessDenied";
}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestión de Roles - UPTC</title>
        <link rel="stylesheet" href="~/css/estilo6.css">
        <link rel="stylesheet" href="~/css/access.css">
    </head>
    <body>

        <div id="accessMessage" class="access-denied">
            No tiene permiso o acceso a esta sección.
        </div>

    </body>


